
.button {
    color: white;
    text-transform: uppercase;
    background-color: var(--color-light-orange);
    border: solid 2px var(--color-white);
    border-radius: 25px;
    padding: 7px 14px;
    width: fit-content;
}

.button:hover {
    background-color: var(--color-terracotta-orange);
    cursor: pointer;
}

.button:focus {
    background-color: var(--color-terracotta);
    border: solid 2px var(--color-light-orange);

}

.icon-button {
    all: unset;
}
