
.button {
    color: white;
    text-transform: uppercase;
    border: solid 2px var(--color-white);
    background-color: var(--color-terracotta-orange);
    border-radius: 25px;
    padding: 7px 14px;
    width: fit-content;
}

.button:hover {
    cursor: pointer;
    background-color: var(--color-light-orange);
}

.button:focus {
    background-color: var(--color-terracotta);
    border: solid 2px var(--color-light-orange);
}


.button:disabled {
    background-color: var(--color-grey-500);
}

.button:disabled:hover {
    cursor: auto;
    background-color: var(--color-grey-500);
}

