.profile__outer-container {
    flex-grow: 1;
    background-color: var(--color-grey-100);
}

.profile__inner-container {
    flex-direction: column;
    margin: 4rem;
    gap: 5rem;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.left-side__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    gap: 1rem;
}

.form__upload-profile-picture {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.label__input-field__profile-picture {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-field__profile-picture {
    font-family: 'Raleway', sans-serif;
}

.profile-picture__preview__label {
    display: flex;
    flex-direction: column;
}

.profile-picture__preview {
    width: 200px;
    height: 200px;
    object-fit: cover;
}


.profile-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.placeholder-photo {
    display: flex;
    align-items: center;
    padding-left: 30px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: var(--color-grey-300);
    text-decoration: none;
}

.link__upload-photo {
    position: relative;
    text-decoration: none;
    color: var(--color-black);
}

.photo-icon__profile-pic {
    position: absolute;
    z-index: 0.5;
    padding: 0.25rem;
    border-radius: 50px;
    background-color: var(--color-grey-200);
    top: 130px;
    right: -65px;
}

.photo-icon__placeholder {
    position: absolute;
    z-index: 0.5;
    padding: 0.25rem;
    border-radius: 50px;
    background-color: var(--color-grey-200);
    top: 130px;
    right: 20px;
}

.verification {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.profile-fields {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 380px;
}

.profile__form {
    gap: 2rem;
}

.profile-fields-personal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1.5rem;
}

.user-type__label {
    font-weight: normal;
    display: flex;
    flex-direction: row;
}

.user-type__dropdown {
    min-width: 200px;
    font-size: 12px;
}

.profile-fields-company {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top: solid 2px var(--color-grey-500);
    padding: 1.5rem 0;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__modal__reset-password {
    font-weight: normal;
    width: 400px;
}

.reset-password__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}