@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-black: #282828;
    --color-black-blue: #272932;
    --color-earth-blue: #375673;
    --color-earth-blue-light: #5D93C6;
    --color-grey-100: #fcfbfb;
    --color-grey-200: #f5f2f0;
    --color-grey-300: #d9d9d9;
    --color-grey-500: #bfbdbd;
    --color-grey-700: #b1b0b0;
    --color-warning: #fe5c5c;
    --color-light-orange: #ebc1a7;
    --color-terracotta: #c45018;
    --color-white: #ffffff;
    --color-terracotta-orange: #d68d68;
    --color-orange: #f86505;
    --color-yellow-star: #e7cf07;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}


:global .app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

:global .outer-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

:global .inner-container {
    display: flex;
    flex-direction: column;
    flex: 0 1 1200px;
    max-width: 1200px;
    margin-inline: 1rem;
    gap: 1rem;
}

:global .error-message {
    color: var(--color-warning);
    font-weight: bolder;
}