.home__outer-container {
    flex-grow: 1;
    background-color: var(--color-grey-100);
}

.homepage__top__h1 {
    font-family: Allerta Stencil, sans-serif;
    font-size: 48px;
    font-weight: lighter;
}

.logo__capital-letter {
    color: var(--color-terracotta);
}

.homepage__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.filter__row__workshop-tiles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sort {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.sort__dropdown {
    z-index: 0.5;
    width: 12rem;
}

.date-range-picker, .price-slider, .minimum-rating {
    font-weight: bolder;
}

.workshop-tiles__filters {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-bottom: 5rem;
}

.sidebar__filter {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    gap: 1.5rem;
}

.filter-item {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.rating-column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.overview__workshop-tiles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
}

