
.container__rating {
    display: inline-block;
}

.star__rating {
    margin-right: 5px;
}

.container-half-star {
    position: relative;
    display: inline-block;
    margin-right: 5px;
}

/*without this code the half stars are not properly aligned*/
.size-16 .container-half-star, .size-16 .container__rating  {
    height: 16px;
    width: 16px;
}
.size-14 .container-half-star, .size-14 .container__rating  {
    height: 14px;
    width: 14px;
}
.size-20 .container-half-star, .size-20 .container__rating  {
    height: 20px;
    width: 20px;
}
.size-26 .container-half-star, .size-26 .container__rating  {
    height: 26px;
    width: 26px;
}

.container-half-star::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
}

.star__rating__full-half-star {
    position: absolute;
    clip-path: inset(0 50% 0 0);
}

.star__rating__empty-half-star {
    position: absolute;
    clip-path: inset(0 0 0 50%);
}