.label__input-field {
    display: flex;
    flex-direction: row;
    max-width: 380px;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.input-field__column {
    display: flex;
    flex-direction: column;
}

.input-field {
    border: solid 1px var(--color-grey-500);
    color: var(--color-black);
    padding: 0.5rem;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    border-radius: 5px;
    min-width: 200px;
}

.input-field-workshoppicture {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.password-input-field {
    position: relative;
}
.password-visibility {
    position: absolute;
    right: 10px;
    top: 8px;
}

.input-field__error {
    border: solid 1px var(--color-warning);
}

.error__row {
    display: flex;
    justify-content: flex-end;
}

.input-field__error-message {
    width: 200px;
    text-align: left;
    color: var(--color-warning);
}

.rating-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5rem;
    align-items: center;
}

.radio-checkbox{
    accent-color: var(--color-earth-blue);
}
