.signin__outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    /*TODO fix flex grow */
    flex-grow: 1;
    margin: 4rem;
    background-color: var(--color-grey-100);
}


.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    gap: 1rem;
}

