.workshop-page__outer-container {
    flex-grow: 1;
    background-color: var(--color-grey-100);
}

.workshop-page__inner-container {
    align-items: center;
    margin: 2rem;
}

.content__modal-check__workshoppage {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
    width: 400px;
}

.bottom-row__modal-check {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.booking__modal {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.booking__modal h4 {
    font-weight: normal;
}

.create-booking__form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.row__inner-container__workshoppage {
    display: flex;
    flex-direction: row;
}

.column__inner-container__workshoppage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside__workshoppage__owner__admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    height: 400px;
}

.aside__feedback-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.aside__column__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    gap: 1rem;
}

.top-part__workshop-page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2.5rem;
    height: 450px;
    width: 720px;
    margin-bottom: 2rem;
}

.left-side__top__workshop {
    display: flex;
    flex-direction: column;
}

.workshop-owner-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.5rem;
    align-items: center;
    height: 30px;
}

.image__wrapper {
    position: relative;
    width: 400px;
}

.workshop-image {
    border-radius: 0.5rem;
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-top: 1rem;
}

.favourite-icon {
    position: absolute;
    z-index: 0.5;
    padding: 0.25rem;
    border-radius: 50px;
    background-color: var(--color-grey-200);
    top: 25px;
    right: 10px;
    opacity: 0.6;
}

.favourite-icon:hover {
    border: 2px solid var(--color-black);
}

.right-side__top__workshop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    height: 100%;
}

.companyname__workshop-info {
    margin-bottom: 1rem;
}

.link__companyname__workshop-info {
    color: var(--color-black);
}

.workshop-info {
    margin-bottom: 0.5rem;
}

.bottom__column__workshop-info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.available-spots__sentence {
    color: var(--color-grey-700);
}

.sold-out__sentence {
    color: var(--color-warning);
}

.category-workshop-row {
    max-height: 25px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.category-workshop-row > p {
    color: var(--color-grey-700);
    border: 1px solid var(--color-grey-300);
    padding: 1px 4px;
    border-radius: 15px;
    text-transform: lowercase;
    margin-right: 0.5rem;
    font-size: 12px;
}

.middle-part__workshop-page {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}


.description__middle-part__workshop {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 800px;
    padding: 2rem 0.5rem;
    border-top: solid 2px var(--color-grey-500);
}

.bottom-part__workshop {
    display: flex;
    flex-direction: row;
    width: 720px;
    gap: 2.5rem;
}


.reviews__bottom__workshop {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 400px;
    border-top: solid 2px var(--color-grey-500);
    padding: 0.5rem;
}

.rating__numbers__workshopowner {
    font-size: 14px;
}

.container__reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.container__individual-review {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.5rem;
    width: 280px;
    border: solid 1px var(--color-grey-500)
}

.top-row__review {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.name-reviewer {
    font-weight: normal;
    color: var(--color-grey-700);
}

.date-review {
    color: var(--color-grey-700);
}

.info__bottom__workshop {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 300px;
    border-top: solid 2px var(--color-grey-500);
    padding: 0.5rem;
}


.list-item {
    display: list-item;
    list-style-type: disc;
}


.link {
    color: var(--color-earth-blue);
}


